.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  padding: 2em;
}

.row {
  padding-left: 1em;
  transition: all 0.2s ease-in-out;
}

.row:hover {
  cursor: pointer;
  background-color: #eff4fd;
}

.row-selected {
  box-shadow: inset 4px 0 0 0 rebeccapurple;
  background-color: #eff4fd;
}
